.advantages__slogan {
  background-color: #ffffff;
  padding-top: 15px;
  width: 100%;
}

.advantages__wrapper-slogan {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__first-slogan,
.advantages__second-slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.advantages__main-mobile {
  width: 100%;
  padding-top: 48px;
  background: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  background-color: #f2f2f2;
}

.advantages__wrapper-main-mobile {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__list-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item-mobile {
  margin-top: 38px;
}

.advantages__title-mobile {
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages__description-mobile {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 0;
  padding: 0;
}

.advantages__img-align {
  height: 319px;
  overflow: hidden;
}

.advantages__img-mobile {
  display: block;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages__main-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper-main-mobile {
    display: flex;
    flex-direction: row-reverse;
    width: 620px;
  }

  .advantages__wrapper-slogan {
    width: 620px;
  }

  .advantages__slogan {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages__first-slogan,
  .advantages__second-slogan {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }

  .advantages__second-slogan {
    width: 340px;
    margin: 0 auto;
  }

  .advantages__img-align {
    width: 310px;
    height: 481px;
    margin-top: -46px;
    overflow: hidden;
  }

  .advantages__img-mobile {
    display: block;
    margin: 0;
    width: 270px;
  }

  .advantages__list-mobile {
    width: 310px;
  }

  .advantages__item-mobile {
    margin-top: 31px;
    margin-bottom: 42px;
  }

  .advantages__title-mobile {
    text-align: left;
  }

  .advantages__description-mobile {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages__main-mobile {
    display: none;
  }

  .advantages__main-desktop {
    display: block;
    width: 100%;
    padding-top: 0;
    background: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    background-color: #f2f2f2;
  }

  .advantages__wrapper-main-desktop {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__wrapper-slogan {
    width: 940px;
  }

  .advantages__slogan {
    padding-top: 66px;
    padding-bottom: 77px;
  }

  .advantages__first-slogan,
  .advantages__second-slogan {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }

  .advantages__second-slogan {
    width: 420px;
  }

  .advantages__list-desktop {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .advantages__item-desktop {
    width: 295px;
    text-align: center;
  }

  .advantages__title-desktop {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-right: 0;
    margin-top: 48px;
    margin-bottom: 24px;
    margin-left: 2px;
  }

  .advantages__item-desktop:nth-child(3) .advantages__title-desktop {
    width: 232px;
    margin-left: 28px;
    margin-right: -76px;
  }

  .advantages__description-desktop {
    width: 248px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 23px;
  }
}
