.app-save {
  width: 100%;
  height: 730px;
  background-color: #2d3d4e;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 175px, center -3px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, 320px auto;
  }
}

.app-save__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.app-save__block {
  margin-top: -68px;
  padding-top: 488px;
}

.app-save__button {
  display: flex;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 50px;
  border: 3px solid #ffffff;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 30px;

  &:hover {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 1);
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.7);
  }
}

.app-save__os-list {
  list-style: none;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 17px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.app-save__icon-android {
  margin-top: 10px;
  margin-right: 12px;
}

.app-save__icon-windows {
  margin-top: 14px;
  margin-right: 6px;
}

.app-save__description {
  font-weight: 300;
  color: #ffffff;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 36px;
}

.app-save__slogan {
  display: none;
}

@media (min-width: @tablet-width) {
  .app-save {
    width: 100%;
    height: 730px;
    background-color: #2d3d4e;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: -20px 185px, center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto;
    }
  }

  .app-save__wrapper {
    width: 620px;
    max-width: 100%;
  }

  .app-save__block {
    width: 300px;
    padding-top: 202px;
    margin-top: -111px;
  }

  .app-save__slogan {
    display: block;
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  .app-save__button {
    margin-top: 32px;
    margin-bottom: 47px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .app-save__os-list {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 29px;
  }

  .app-save__description {
    font-size: 18px;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .app-save {
    width: 100%;
    background: none;
    background-image: none;
    margin-top: -882px;
    margin-bottom: -95px;
  }

  .app-save__wrapper {
    width: 940px;
  }

  .app-save__block {
    padding-top: 0;
  }

  .app-save__slogan {
    font-size: 50px;
    line-height: 60px;
    width: 300px;
  }

  .app-save__button {
    font-size: 21px;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 52px;
    margin-bottom: 67px;
  }

  .app-save__description {
    font-size: 18px;
    width: 300px;
    margin-top: 48px;
  }
}
