.page-footer-photo {
  display: none;
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .page-footer-index {
    width: 100%;
    background-color: #ffffff;
    display: block;
    padding-top: 34px;
  }

  .page-footer-index__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 36px;
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .page-footer__logo {
    width: 146px;
  }

  .page-footer__copyright {
    margin-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer-index {
    width: 100%;
    background-color: #ffffff;
    display: block;
    padding-top: 68px;
    padding-bottom: 60px;
  }

  .page-footer-index__wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}
