.photo-post {
  width: 100%;
  background-color: #ffffff;
}

.photo-post__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.photo-post__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-post__item {
  margin: 20px;
  background-color: #f2f2f2;
}

.photo-post__info {
  padding: 25px 16px;
}

.photo-post__user {
  margin: 0;
  font-weight: 700;
}

.photo-post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-post__like {
  margin: 0;
  margin-top: 20px;
  padding-left: 32px;
  font-size: 12px;
  text-transform: uppercase;
  color: #d22856;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 6px;
    background: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

.photo-post__item:nth-child(1) img {
  margin: 0 -20px;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .photo-post__wrapper {
    width: 620px;
  }

  .photo-post__list {
    width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo-post__info {
    position: relative;
    padding: 30px;
  }

  .photo-post__item:nth-child(1) .photo-post__like {
    position: absolute;
    top: 13px;
    right: 50px;

    &::after {
      right: -25px;
    }
  }

  .photo-post__item:nth-child(1) {
    display: block;
    width: 620px;
  }

  .photo-post__item:nth-child(1) img {
    width: 660px;
    margin: 0 -20px;
  }

  .photo-post__item {
    width: 300px;
    margin: 20px 0;
  }

  .photo-post__img {
    width: 300px;
    height: 300px;
  }

  .photo-post__description {
    margin-top: 3px;
  }

  .photo-post__like {
    padding-left: 0;

    &::after {
      right: 0;
      left: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-post__wrapper {
    width: 940px;
  }

  .photo-post__list {
    width: 940px;
  }

  .photo-post__item:nth-child(1) {
    display: block;
    width: 940px;
  }

  .photo-post__item:nth-child(1) img {
    width: 1200px;
    margin: 0 -130px;
  }

  .photo-post__item {
    width: 300px;
    margin: 0;
    margin-bottom: 50px;
  }

  .photo-post__img {
    width: 300px;
    height: 400px;
  }
}
