.photo-editor {
  width: 100%;
  background-color: #f2f2f2;
}

.photo-editor__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.photo-editor__post {
  padding-top: 20px;
}

.photo-editor__post-tools {
  display: flex;
  flex-wrap: wrap;
  padding-left: 21px;
  padding-top: 29px;
}

.photo-editor__instrument {
  border: 0;
}

.photo-editor__fill {
  padding-left: 18px;
}

.photo-editor__contrast {
  padding-left: 25px;
  padding-top: 13px;
}

.photo-editor__range-controls-tablet {
  display: none;
}

.photo-editor__range-controls {
  position: relative;
  width: 240px;
}


.photo-editor__scale {
  height: 2px;
  background: #283645;
}

.photo-editor__bar {

}

.photo-editor__toggle {

}
