.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-height: 325px;
}

.site-list__item {
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #6d3750;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 620px;
    min-height: 365px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 620px;
    min-height: 110px;
  }
}
